.withdraw {
    max-width: 600px;
    margin: 0 auto;
}

.title {
    color: $color_text_primary;
    margin-bottom: 24px;
    font-size: 1.5rem;
}

.card {
    background: $color_bg_secondary;
    border-radius: 16px;
    padding: 30px;
    border: 1px solid $color_border;
}

.tabs {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid $color_divider;
    padding-bottom: 1rem;

    .tab {
        background: none;
        border: none;
        color: $color_text_secondary;
        font-size: 1rem;
        font-weight: 600;
        cursor: pointer;
        padding: 0.5rem 1rem;
        position: relative;
        transition: $transition-smooth;

        &.active {
            color: $color_primary;

            &::after {
                content: '';
                position: absolute;
                bottom: -17px; // Adjust based on padding/margin
                left: 0;
                width: 100%;
                height: 2px;
                background-color: $color_primary;
            }
        }

        &:hover:not(.active) {
            color: $color_text_primary;
        }
    }
}